[Desktop Entry]
Type=Application
Name=Glacien Workbench
Comment=Android development workstation
Exec=/opt/glacien-workbench/Glacien
Icon=glacien-workbench
Terminal=false
Categories=Development;
StartupNotify=true
